<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Report - {{ basePath }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <style>
        @font-face {
            font-family: 'Roboto';   font-style: normal;   font-weight: 400;
            src: url(../font/Roboto-Regular.woff2) format('ttf')
        }
        @font-face {
            font-family: 'D2Coding';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        *{
            font-family: 'Roboto', arial;
        }
        pre{
            font-family: 'D2Coding', 'Courier New', monospace;
        }
        .bg-green{
            background-color: rgba(236, 253, 245, 1);
        }
        .bg-yellow{
            background-color: rgba(254, 254, 226, 1);
        }
        .bg-red{
            background-color: rgba(254, 226, 226, 1);
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Report</h1>
    <p>Target : {{ basePath }}</p>

    <h2>Summary</h2>
    <div class="row border border-dark rounded-lg mb-4">
        <div class="col-12">
            <div class="row border-bottom">
                <div class="col-3 font-weight-bold text-center bg-green">Success</div>
                <div class="col-3 font-weight-bold text-center bg-red">Fail</div>
                <div class="col-3 font-weight-bold text-center bg-yellow">Skip</div>
                <div class="col-3 font-weight-bold text-center">Total</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3 text-center bg-green align-middle" id="successCount">{{ test_count["success"] }}</div>
                <div class="col-3 text-center bg-red" id="failCount">{{ test_count["fail"] }}</div>
                <div class="col-3 text-center bg-yellow" id="passCount">{{ test_count["skip"] }}</div>
                <div class="col-3 text-center">{{ test_count["count"] }}</div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="col-12 text-center font-weight-bold">Ratio</div>
            <div class="col-12 align-middle">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <h2>Result</h2>
    {% for requestPath, requestInfo in result.items() %}
    {% for method, component in requestInfo.items() %}
    {% for name, list_request_and_response in component.items() %}
    {% for value_type, request_and_response in list_request_and_response.items() %}
    {% if request_and_response.state == 'success' %}
    {% set bg = 'bg-green' %}
    {% elif request_and_response.state == 'pass' %}
    {% set bg = 'bg-yellow' %}
    {% else %}
    {% set bg = 'bg-red' %}
    {% endif %}
        <div class="row mb-4 border border-dark rounded-lg {{ bg }}">
            <div class="col-3 border-bottom border-right font-weight-bold">Path</div><div class="col-9 border-bottom border-left">{{ requestPath }}</div>
            <div class="col-3 border font-weight-bold">Method</div><div class="col-9 border">{{ method }}</div>
            <div class="col-3 border font-weight-bold">Name</div><div class="col-9 border">{{ name }}</div>
            <div class="col-3 border font-weight-bold">Condition</div><div class="col-9 border">{{ value_type }}</div>
            <div class="col-12" style="display: none;">
                <div class="row border-top border-dark">
                    <div class="col-12 font-weight-bold border">Request</div>
                    <div class="col-12">
                        <div class="row">
                            {% for info_name, info_value in request_and_response.request.items() %}
                            {% if info_value is not none %}
                            <div class="col-2 font-weight-bold border">{{ info_name }}</div>
                            <div class="col-10 border">
                                <pre>{{ info_value }}</pre>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row border-top border-dark">
                    <div class="col-12 border font-weight-bold">Response - {{ request_and_response.response.status_code }}</div>
                    <div class="col-12 border">
                        <pre>{{ request_and_response.response.text }}</pre>
                    </div>
                </div>
            </div>
            <div class="col-12 p-3 border-top border-dark">
                <button class="btn btn-info col-12 btn-toggle" >SHOW</button>
            </div>
        </div>
    {% endfor %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
</div>
<script src="scripts/script.js"></script>
</body>
</html>